<div class="p-5 mb-4 bg-light rounded-3 shadow">
  <div class="container">
    <h1 class="display-6 mb-4">Submit a Zipcode or IP Address</h1>
    <%= form_with(model: location, class: "needs-validation") do |form| %>
      <% if location.errors.any? %>
        <div class="alert alert-danger">
          <h4 class="alert-heading">Please correct the following errors:</h4>
          <ul>
            <% location.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :zipcode, class: "form-label fw-bold" %>
        <%= form.text_field :zipcode, class: "form-control", placeholder: "Enter your zipcode" %>
      </div>

      <div class="mb-3">
        <%= form.label :ip_address, class: "form-label fw-bold" %>
        <%= form.text_field :ip_address, class: "form-control", placeholder: "Enter your IP address" %>
      </div>

      <div class="d-grid gap-2">
        <%= form.submit "Submit", class: "btn btn-success btn-block" %>
      </div>
    <% end %>
  </div>
</div>
