<p style="color: green"><%= notice %></p>


 <div class="d-flex justify-content-center align-items-center">
    <div class="p-5 mb-4 bg-secondary rounded-3">
      <div class="container-fluid py-5 ">
        <%= render @location %>
        <div class="p-5 mb-4 bg-light rounded-3">

          <h1 class="display-5 fw-bold text-center">This Week's Weather</h1>
          <% if @highs.present? && @lows.present?%>
            <% @day_names.zip(@highs, @lows).each do |day, high, low| %>
              <p>
                <strong><%= day %>'s</strong> high is <%= high %>°F and its low is <%= low %>°F.
              </p>
              
            <% end %>
            
            <br>
            
            <img src="<%= @chart_url %>" alt="Bar Chart">

            <div>
              <br>
              <%= link_to "Edit this location", edit_location_path(@location) %> |
              <%= link_to "Back to locations", locations_path %>
              <br>

              <%= button_to "Destroy this location", @location, method: :delete, class: "btn btn-danger" %>
            </div>
          <% else %>
            There was some sort of error
          <% end %>
        </div>
       

        

      </div>
    </div>
  </div>